.page-header
  %h1 Заметки

  =form_tag notes_path, method: :get, :id => 'notes_search', class: 'form-inline' do
    .form-group
      = text_field_tag :first_date, params[:first_date], class: 'datepicker form-control', "data-date-format" => "dd-mm-yyyy"
    .form-group
      = text_field_tag :second_date, params[:second_date], class: 'datepicker form-control', "data-date-format" => "dd-mm-yyyy"
    = submit_tag "Искать за период", name: nil, class: 'btn btn-success'

%table.table.table-striped
  %thead
    %tr
      %th #
      %th Название заметки
      %th Описание события
      %th Создана
      %th Действия
  %tbody.notes-container
    = render 'table'

= link_to t('.new', :default => t("helpers.links.new")), new_note_path,:class => 'btn btn-primary'
